<a href="https://colab.research.google.com/github/humbertozanetti/estruturadedados/blob/main/Notebooks/Estrutura_de_Dados_Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ESTRUTURA DE DADOS - AULA 04**
# **Prof. Dr. Humberto A. P. Zanetti**
# Fatec Deputado Ary Fossen - Jundiaí


---

**Conteúdo da aula:**
+ Pandas
  - Series
  - Dataframe

## **O que é Pandas?**
O Pandas é uma biblioteca de código aberto para manipulação e análise de dados em Python. Ele fornece estruturas de dados flexíveis e eficientes, especialmente projetadas para lidar com grandes volumes de dados de forma organizada.

Principais Características:   
+ Fácil manipulação de tabelas e planilhas (semelhante ao Excel).
+ Suporte para importação e exportação de arquivos CSV, Excel, JSON e SQL.
+ Ferramentas poderosas para filtragem, agregação, ordenação e limpeza de dados.
+ Compatível com outras bibliotecas populares, como NumPy e Matplotlib.

## **O que é um Series?**

Um *Series* é uma estrutura de dados unidimensional da biblioteca Pandas, semelhante a um vetor ou uma lista em Python, mas com funcionalidades adicionais.
É composta por:
+ **Valores**: os dados propriamente ditos.
+ **Índices**: os rótulos associados a cada valor, similar às chaves de um dicionário.

**Quando Usar uma Series?**
+ Quando precisamos armazenar e manipular uma única sequência de valores.
+ Quando queremos realizar cálculos estatísticos rápidos.
+ Quando precisamos de um **dicionário avançado**, já que a Series combina chaves e valores.

## **O que é um DataFrame?**
Um DataFrame é uma estrutura de dados bidimensional da biblioteca Pandas, semelhante a uma tabela do Excel, um banco de dados ou uma planilha. Ele organiza os dados em linhas e colunas, permitindo a manipulação e análise de forma eficiente.  
Características principais de um DataFrame:  
+ **É bidimensional**: contém linhas e colunas organizadas.
+ **Cada coluna pode ter um tipo de dado diferente** (exemplo: números, textos, datas).
+ **Indexação flexível**: pode ter rótulos personalizados para linhas e colunas.
+ **Métodos poderosos para manipulação de dados**: filtragem, agregação, ordenação, estatísticas descritivas e muito mais.

**Series x Dataframes**

| Característica	| Series |	DataFrame |
| :----:  | :----:  | :----:  |
| Estrutura |	Unidimensional |	Bidimensional |
| Semelhante a |	Vetor/Lista	| Tabela |
| Índices |	Sim	| Sim |
| Colunas	| 1	| Múltiplas |

**Se o DataFrame é uma tabela, a Series é uma única coluna dessa tabela!**

## **Utilizando Series e Dataframe**

**Criando uma Series**

In [ ]:
import pandas as pd

dados = [10, 20, 30, 40]
serie = pd.Series(dados)

print(serie)

0    10
1    20
2    30
3    40
dtype: int64

**Observações**:
+ Notem que assim como em NumPy, nossa "base" acaba sendo uma lista para a transformação.
+ É associado uma metadado dado chamado `dtype` com o valor `int64`, indicando que os valores são do tipo inteiro de 64 bits.

| Tipo Pandas   | Descrição                          | Tipo NumPy equivalente |
| :-----------: | :--------------------------------: | :--------------------: |
| `int64`     | Números inteiros                | `np.int64`       |
| `float64`   | Números de ponto flutuante      | `np.float64`     |
| `bool`      | Valores booleanos (`True`/`False`) | `np.bool_`   |
| `object`    | Texto ou valores mistos         | `np.object_`     |
| `category`  | Categorias otimizadas para memória | `np.object_` |
| `datetime64` | Datas e horários       | `np.timedelta64` |

O Pandas definie automaticamente o tipo pelo contexto.

In [ ]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4])  # Inferido como int64
s2 = pd.Series([1.5, 2.7, 3.9])  # Inferido como float64
s3 = pd.Series(['a', 'b', 'c'])  # Inferido como object (texto)
s4 = pd.Series([True, False, True])  # Inferido como bool

print(s1.dtype)
print(s2.dtype)
print(s3.dtype)
print(s4.dtype)

Mas também podemos redefinir, caso necessário:

In [ ]:
s = pd.Series([1, 2, 3], dtype='int32')
print(s.dtype)

Se o `dtype` estiver incorreto ou precisar de otimização, podemos convertê-lo usando `.astype()`:

In [ ]:
s = pd.Series([1, 2, 3])
s = s.astype('float32')  # Convertendo para float32
print(s.dtype)

**Trabalhando com tipos especiais (`datetime`, `category`)**  

**Datas**

In [ ]:
s = pd.Series(['2024-03-01', '2024-03-02'])
s = pd.to_datetime(s)
print(s.dtype)

**Category** (economiza memória e acelera operações em dados repetitivos)

In [ ]:
s = pd.Series(['alto', 'médio', 'baixo', 'alto', 'médio'], dtype='category')
print(s.dtype)

## **Índices e Acessos em Series**

Como vimos, os índices são gerados automaticamente, mas podemos definir índices personalizados para os elementos:

In [ ]:
serie = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(serie)

Se criarmos uma Series a partir de um dicionário, as chaves se tornam os índices automaticamente:

In [ ]:
dados = {'Betina': 6, 'Carlos': 25, 'Ana': 30}
serie = pd.Series(dados)

print(serie)

Acessamos valores pelos índices:

In [ ]:
dados = {'Betina': 6, 'Carlos': 25, 'Ana': 30}
serie = pd.Series(dados)

# acessando apenas um valor
print('Valor do índice "Betina":', serie['Betina'])

# acessando vários valores
print(serie[['Carlos', 'Ana']])

# e podemos usar filtros
print(serie[serie > 10])

**Operações**

In [ ]:
# dobrar os valores dentro da série
serie_dobro = serie * 2
print(serie_dobro)

print(serie.mean())   # Média
print(serie.sum())    # Soma
print(serie.max())    # Maior valor
print(serie.min())    # Menor valor

## **Trabalhando com DataFrame**

Podemos criar um DataFrame manualmente informando as colunas:

In [ ]:
dados = [['Betina', 6, 'Itatiba'], ['Carlos', 25, 'Rio de Janeiro'], ['Ana', 30, 'Belo Horizonte']]
df = pd.DataFrame(dados, columns=['Nome', 'Idade', 'Cidade'])
print(df)

Cada **chave do dicionário** se torna um nome de coluna, e os **valores** são as linhas da tabela.

In [ ]:
dados = {
    'Nome': ['Betina', 'Carlos', 'Ana'],
    'Idade': [6, 25, 30],
    'Cidade': ['Itatiba', 'Rio de Janeiro', 'Belo Horizonte']
}

df = pd.DataFrame(dados)
print(df)

Criando um DataFrame a partir de uma lista de listas:

In [ ]:
dados = [['Betina', 6, 'Itatiba'], ['Carlos', 25, 'Rio de Janeiro'], ['Ana', 30, 'Belo Horizonte']]
df = pd.DataFrame(dados, columns=['Nome', 'Idade', 'Cidade'])
print(df)

## **Acessando os dados em DataFrames**

Selecionando uma coluna (que é uma Series):

In [ ]:
print(df['Nome'])  # Retorna a coluna 'Nome' como uma Series

Selecionando várias colunas:

In [ ]:
print(df[['Nome', 'Idade']])  # Retorna um DataFrame com as colunas escolhidas

Selecionando uma linha específica pelo índice:

In [ ]:
print(df.loc[0])  # Acessa a primeira linha pelo índice
print(df.loc[1])  # Acessa a segunda linha pelo número da posição

E filtros:

In [ ]:
df_maiores = df[df['Idade'] > 18]  # Retorna apenas as linhas onde a idade é maior que 18
print(df_maiores)

## **Modificando e adicionando dados**

Adicionando uma coluna nova:

In [ ]:
df['Profissão'] = ['Estudante', 'Engenheiro', 'Médico']
print(df)

Modificar valores:

In [ ]:
df.loc[df['Nome'] == 'Carlos', 'Idade'] = 26  # Altera a idade de Carlos para 26
print(df)

Remover uma coluna:

In [ ]:
df = df.drop(columns=['Profissão'])
print(df)

Remover uma linha:

In [ ]:
df = df.drop(index=1) # ou apenas `df.drop(1)`
print(df)